@import '../../assets//colors';

.movie__content {
    background-color: $colorDark;
    padding: 10px 20px;
    color: $colorYellow;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 10px 0;

}

.movie__content_image {
    text-align: center;
}
